.play-zone {
   height: 400px;
   border-bottom: 2px solid;
   position: relative;
}

.play-zone .gallow {
   position: relative;
   width: 60%;
   height: 100%;
   margin-left: auto;
   border-left: 2px solid;
   border-top: 2px solid;
}

@media only screen and (max-width: 768px) {
   .play-zone .gallow {
      margin-left: 3rem;
   }
}

.play-zone .gallow .hanged-man-zone {
   justify-content: center;
   display: flex;
   position: absolute;
   right: -69px;
   width: 140px;
   height: 240px;
}

.play-zone .hanged-man div:nth-child(1) {
   border: 1px solid;
   height: 30px;
   width: 1px;
   margin: auto;
}

.play-zone .hanged-man div:nth-child(2) {
   display: flex;
   text-align: center;
   border: 2px solid;
   height: 70px;
   width: 70px;
   border-radius: 50%;
   justify-content: center;
   align-items: center;
   font-family: arial;
   font-size: 1.3em;
   font-weight: 500;
}

.play-zone .hanged-man div:nth-child(3) {
   border: 1px solid;
   height: 50%;
   margin: auto;
   width: 1px;
   position: relative;
}

.play-zone .hanged-man div:nth-child(3) div:nth-child(1) {
   position: absolute;
   border: 1px solid;
   height: 65px;
   transform: rotate(45deg);
   width: 1px;
   left: -24px;
   top: -1px;
}

.play-zone .hanged-man div:nth-child(3) div:nth-child(2) {
   position: absolute;
   border: 1px solid;
   height: 65px;
   transform: rotate(-45deg);
   width: 1px;
   left: 22px;
   top: -1px;
}

.play-zone .hanged-man div:nth-child(3) div:nth-child(3) {
   position: absolute;
   border: 1px solid;
   height: 65px;
   transform: rotate(45deg);
   width: 1px;
   left: -24px;
   bottom: -56px;
}

.play-zone .hanged-man div:nth-child(3) div:nth-child(4) {
   position: absolute;
   border: 1px solid;
   height: 65px;
   transform: rotate(-45deg);
   width: 1px;
   left: 22px;
   bottom: -56px;
}

.play-zone .letter-input {
   margin-top: 20px;
   border: 2px solid #ccc;
   background: #fff;
   height: 10%;
   text-align: center;
}

.play-zone .input-zone {
   margin-top: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.play-zone .input-zone button {
   margin: 5px;
   min-width: 40px;
   min-height: 40px;
}

.play-zone .input-zone button.disable-correct {
   background: #fff;
   color: #198754;
   border: 1px solid #ccc;
   cursor: default;
}

.play-zone .input-zone button.disable-correct:focus {
   box-shadow: none;
}

.play-zone .input-zone button.disable-incorrect {
   background: #fff;
   color: #dc3545;
   border: 1px solid #ccc;
   cursor: default;
}

.play-zone .input-zone button.disable-incorrect:focus {
   box-shadow: none;
}

.play-zone .letter-input .letter {
   margin: 0 6px;
   width: 15px;
   display: inline-block;
   border-bottom: 2px solid;
}

.restart-btn {
   position: fixed;
   right: 2vh;
   top: 2vh;
}
